{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="w-full">
    <div class="flex items-center justify-between w-full max-myMob:flex-col max-myMob:items-start max-myMob:gap-4 max-md:mt-10">
        <div>
            <h1 class="text-3xl font-bold">Reports</h1>
        </div>
    </div>
    <div class="mt-1">
        <form method="get" action="{% url 'reports' %}" id="reportForm">
            <div class="flex gap-2">
                <select id="monthSelect" name="month" class="h-10 px-5 text-gray-400 border border-gray-400 rounded-full">
                    <option value="">Select Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                
                <select id="yearSelect" name="year" class="h-10 px-5 text-gray-400 border border-gray-400 rounded-full">
                    <option value="">Select Year</option>
                    {% for year in year_range %}
                    <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" class="rounded mt-2">Filter</button>
            </div>
        </form>
    </div>
    <div class="mt-4">
        {% if loans %}
        <table class="min-w-full bg-white border border-gray-400 overflow-x-auto">
            <thead>
                <tr>
                    <th class="py-2">Branch</th>
                    <th class="py-2">Loan Officer</th>
                    <th class="py-2">Client</th>
                    <th class="py-2">Requested Amount</th>
                    <th class="py-2">Created At</th>
                    <th class="py-2">Status</th>
                    <th class="py-2">Payment Date</th>
                    <th class="py-2">Amount Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                <tr>
                    <td class="py-2 text-center">{{ loan.branch.name }}</td>
                    <td class="py-2 text-center">{{ loan.loan_officer.user.fullname }}</td>
                    <td class="py-2 text-center">{{ loan.client.full_name }}</td>
                    <td class="py-2 text-center">{{ loan.requested_amount }}</td>
                    <td class="py-2 text-center">{{ loan.created_at }}</td>
                    <td class="py-2 text-center">{{ loan.status }}</td>
                    <td class="py-2 text-center">{{ loan_amortization.payment_date }}</td>
                    <td class="py-2 text-center">{{ loan_amortization.ending_balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-2 flex gap-2">
            <a href="{% url 'download-loans-pdf' %}?month={{ selected_month }}&year={{ selected_year }}" class="bg-red-500 text-white px-4 py-2 rounded" aria-label="Download PDF">Download PDF</a>
    
        </div>
        {% else %}
        <p class="text-center text-gray-500">No loan reports available.</p>
        {% endif %}
    </div>
</div>

<script>
    document.getElementById('reportForm').addEventListener('submit', function(event) {
        var month = document.getElementById('monthSelect').value;
        var year = document.getElementById('yearSelect').value;
        
        if (month && year) {
            // Format date as YYYY-MM
            var formattedDate = year + '-' + month;
            console.log('Selected Date:', formattedDate);
        } else {
            console.log('Please select both month and year.');
        }
    });
</script>

{% endblock %}
